<div class="d-flex align-items-center justify-content-center min-vh-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 top-content-offset">
        
        <div class="p-4 bg-success-subtle border border-primary text-center shadow mb-4">
          <h1>CoC fight simulator</h1>
          <h2><%= t('.test') %></h2>
          <p>このアプリは、CoCにおける戦闘のシミュレーションを行うことができるアプリです。<br>
          シナリオ制作をしたり、GMとしてシナリオの調整を行う際の戦闘バランスのシミュレーションを行うことができます。
          </p>
          
          <h3 class="mt-4">このアプリの使い方</h3>
          <ol class="text-start d-inline-block">
            <li>キャラクターを登録し、ステータスや技能を決定します。</li>
            <li>シミュレーションページで敵味方に振り分けます。</li>
            <li>戦闘条件を設定し、シミュレーション開始ボタンを押します。</li>
            <li>結果が自動で表示されます</li>
          </ol>
        </div>

        <% if user_signed_in? %>
          <div class="text-center">
            <%= link_to "さっそく始める", new_simulations_path, class: "btn btn-lg btn-success" %>
          </div>
        <% else %>
          <div class="text-center">
            <%= link_to "さっそく始める", new_user_session_path, class: "btn btn-lg btn-success" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>