<% bootstrap_class = { "notice" => "success", "alert" => "danger" } %>
<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= bootstrap_class.fetch(message_type, message_type) %>">
    <%= message %>
  </div>
<% end %>