<footer class="bg-dark text-white py-4 mt-auto">
  <div class="container text-center">
    <ul class="list-inline mb-2">
      <li class="list-inline-item">
        <%= link_to '利用規約', '#', class: 'link-light text-decoration-none' %>
      </li>
      <li class="list-inline-item mx-3 text-secondary">|</li>
      <li class="list-inline-item">
        <%= link_to 'プライバシーポリシー', '#', class: 'link-light text-decoration-none' %>
      </li>
    </ul>
    <p class="mb-0 text-white-50 small">
      &copy; <%= Time.current.year %> CoC fight simulator. All rights reserved.
    </p>
  </div>
</footer>