<div class="container my-5">
  <% if @characters.present? %>
    <%= render @characters %>
  <% else %>
    <div class="mb-3">まだ作成されたキャラクターがいません。</div>
  <% end %>
  <%= paginate @characters, theme: 'bootstrap-5' %>
</div>
