<div class="container my-5">
  <% if @characters.present? %>
    <%= render partial: 'character', collection: @characters %>
  <% else %>
    <div class="mb-3">
      <%= t('.no_record')%>
    </div>
  <% end %>
  <%= paginate @characters, theme: 'bootstrap-5' %>
</div>
